@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
box-sizing: border-box;
}

body {
 font-family: 'Muli, sans-serif';
 background-color: rgb(211, 137, 184);
 color: black;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 overflow:hidden;
 margin: 0;

}

.container{
  background-color: rgba(214, 98, 98, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  

}
.container h1{
  text-align: center;
  margin-bottom: 35px;
  color: rgb(83, 83, 205);
  border-color: rgb(99, 24, 169);
}

.container a{
text-decoration: none;
color: rgb(53, 208, 157);
}

.form-control{
  position: relative;
  margin: 25px 0 45px;
  width: 350px;
}

.form-control input{
background-color: transparent;
border: 0;
border-bottom: 2px #fff solid;
display: block;
width: 100%;
padding: 15px 0;
font-size: 19px;
color: #4d4747;
}

.form-control input:focus,
.form-control input:valid{
  outline: 0;
}
